compiler/.antlr
compiler/build
compiler/generated
compiler/ifcc

ifcc-test-output

.DS_Store

.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

__pycache__
.pytest_cache
*.json